{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
    <section class="flex justify-between items-center mx-50" id="first-section">
        <div class="flex flex-col">
            <p class="text-[100px] font-extrabold leading-none">{% trans 'Find your passion, follow your path'%}<p/>
            <a href="{% url 'main:selection' %}"><button class="text-2xl mt-8 bg-primary hover:bg-primary-l/95 text-white transition-all duration-500
            px-10 hover:px-14 py-5 rounded-[300px] cursor-pointer" id="btn-tests">{%trans 'Start'%}</button></a>
        </div>
        <img src="{% static 'images/girl_grad.png' %}" class="h-[700px]">
    </section>
    <section class="flex justify-center flex-col items-center px-50 bg-primary/10" id="second-section">
        <button class="font-semibold px-4 py-1 text-[20px] bg-primary/30 text-primary-l/80 rounded-lg">{%trans 'Key Features'%}</button>
        <p class="text-4xl font-bold mt-4 text-center">{% trans 'Experience University Routine, Unnecessary to Apply'%}</p>
        <p class="text-lg text-center leading-[25px] mt-3">{%trans "As choosing a profession is a crucial moment in applicants' life, we are taking it on another level. Our platform provides its clients attend virtual classes of colleges to explore the routine of future specialists."%}</p>
        <div class="flex items-center justify-center w-full my-15">
            <div id="feature">
                <img src="{% static 'images/icon1.png' %}" class="w-18">
                <p id="text" class="">{%trans 'Real-Time Classroom Access'%}</p>
                <p class="text-[17px]">{%trans 'Stream real university courses directly from the classroom. Experience the teaching style and content firsthand.'%}</p>
            </div>
            <div id="feature">
                <img src="{% static 'images/icon2.png' %}" class="w-18">
                <p id="text" class="w-max">{%trans 'Review System'%}</p>
                <p class="text-[17px]">{%trans 'Leave reviews after attending virtual classes. Share your impressions and help others make informed decisions.'%}</p>
            </div>
            <div id="feature">
                <img src="{% static 'images/icon3.png' %}" class="w-18">
                <p id="text" class="w-max">{%trans 'Competetive Ranking'%}</p>
                <p class="text-[17px]">{% trans "Compare your ratings with others. See how courses you've attended stack up against ones you haven't explored yet."%}</p>
            </div>
        </div>
    </section>
    <section class="flex justify-around flex-col items-center px-50 w-full" id="third-section">
        <p class="text-[65px] font-bold my-16">{%trans "Feedback of Our Users"%}</p>
        <div class="grid grid-cols-4 gap-x-4 gap-y-8 w-full mb-16" id="widgets">
            {% for feedback in feedbacks %}
                <div class="h-[650зч] w-[300px] rounded-lg flex flex-col justify-between items-center" id="widget">
                    <div class="flex flex-col justify-center items-center" id="widget-info">
                        <img src="{{ feedback.image.url }}" class="rounded-[500px] h-[150px] mt-14">
                        <p class="text-xl font-semibold mt-5">{{ feedback.user_name }}</p>
                    </div>
                    <p class="text-md w-[280px] text-center">{{ feedback.user_info }}</p>
                    <p class="text-amber-400 text-3xl mb-5">{% for i in ""|rjust:feedback.stars %}&starf;{% endfor %}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}