{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
    <section 
    class="flex flex-col md:flex-row justify-between items-stretch px-3 md:px-12 w-full max-h-[85dvh] min-h-[60vh]" 
    id="first-section"
    style="height: 85dvh;"
    >
    <!-- Mobile: Image block fills remaining space, Desktop: 1/2 width -->
        <div 
        class="flex-1 md:hidden flex flex-col justify-end items-center bg-primary w-full my-8 rounded-3xl overflow-hidden min-h-0"
        >
            <img 
            src="{% static 'images/girl_grad.png' %}" 
            class="object-contain w-full h-full mt-16 -scale-x-100"
            style="max-height:100%;"
            alt="Graduation Girl"
            >
        </div>
    <!-- Content Block -->
        <div 
        class="flex flex-col justify-center h-auto md:h-full md:w-1/2 flex-shrink-0"
        >
            <p class="text-[44px] md:text-[100px] font-extrabold leading-none">
            {% trans 'Find your passion, follow your path' %}
            </p>
            <a href="{% url 'main:product_list' %}">
                <button 
                    class="text-2xl mt-8 bg-primary hover:bg-primary-l/95 text-white transition-all duration-500 font-semibold px-12 py-4 rounded-3xl md:rounded-[300px] cursor-pointer" 
                    id="btn-tests"
                >
                    {% trans 'Start' %}
                </button>
            </a>
        </div>
    <!-- Desktop: Image block, 1/2 width -->
        <div class="hidden md:flex flex-col flex-1 justify-end items-center rounded-3xl min-h-0">
            <img 
            src="{% static 'images/girl_grad.png' %}" 
            class="object-contain w-full flex-1"
            style="max-height:100%;"
            alt="Graduation Girl"
            >
            <div class="min-h-[20px] max-h-[20px] w-full rounded-lg bg-primary">
            </div>
        </div>
    </section>

    <section class="flex flex-col md:h-[35vw] gap-10 justify-center items-center pt-12 md:px-50 mt-20 bg-primary/10 px-2">
        <button class="font-semibold px-4 py-1 text-[20px] bg-primary/30 text-primary-l/80 rounded-lg">{% trans "Key Features" %}</button>
        <p class="text-4xl font-bold md:mt-4 text-center">{% trans "Experience University Routine, Unnecessary to Apply" %}</p>
        <p class="text-lg md:text-center leading-[25px] md:mt-3 hidden md:block">{%trans "As choosing a profession is a crucial moment in applicants' life, we are taking it on another level. Our platform provides its clients attend virtual classes of colleges to explore the routine of future specialists."%}</p>
        
        <div class="flex flex-col gap-12 md:gap-0 md:flex-row items-center justify-center w-full mt-4 mb-10">
            <div id="feature">
                <img src="{% static 'images/icon1.png' %}" class="w-18">
                <p class="leading-none" id="text" class="">{%trans 'Real-Time Classroom Access'%}</p>
                <p class="text-[17px]">{%trans 'Stream real university courses directly from the classroom. Experience the teaching style and content firsthand.'%}</p>
            </div>
            <div id="feature">
                <img src="{% static 'images/icon2.png' %}" class="w-18">
                <p class="leading-none" id="text" class="w-max">{%trans 'Review System'%}</p>
                <p class="text-[17px]">{%trans 'Leave reviews after attending virtual classes. Share your impressions and help others make informed decisions.'%}</p>
            </div>
            <div id="feature">
                <img src="{% static 'images/icon3.png' %}" class="w-18">
                <p class="leading-none" id="text" class="w-max">{%trans 'Competetive Ranking'%}</p>
                <p class="text-[17px]">{% trans "Compare your ratings with others. See how courses you've attended stack up against ones you haven't explored yet."%}</p>
            </div>
        </div>
    </section>
    <div class="hidden md:block h-24">
    </div>
{% endblock content %}