{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Выберите университет{% endblock title %}

{% block content %}
    <section class="flex justify-between items-center flex-col p-15 gap-3">
        <p class="text-4xl font-extrabold mb-10">Наши партнеры-университеты</p>
        <div class="flex justify-between items-center flex-row gap-14" id="sponsors">
            <img src="{% static 'images/KBTU_logo.png' %}" alt="kbtu_uni_logo" id="uni-logo">
            <img src="{% static 'images/logo_02.jpg' %}" alt="atyrau_uni_logo" id="uni-logo">
            <img src="{% static 'images/Nov-logo-eng.png' %}" alt="enu_uni_logo" id="uni-logo">
        </div>
    </section>
    <section class="grid grid-cols-2 gap-x-8 gap-y-4 my-16">
        {% for u in uni %}
            <a class="text-3xl" href="{% url 'main:selected' slug.slug %}"><button class="cursor-pointer duration-400 bg-primary/40 hover:bg-primary/70 py-8 px-16 w-full rounded-md">{{ slug.name }}</button></a>
        {% endfor %}
    </section>
{% endblock content %}