{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}Трансляция с пары выбранной группы{% endblock title %}

{% block content %}
    <section class="flex flex-col justify-center items-center px-50" id="video-section">
        <div class="flex justify-evenly w-full">
            <img src="{% static 'images/enjoy.png' %}">
            <div class="flex flex-col justify-evenly items-center">
                <p class="font-bold text-[40px]">{%trans "Enjoy watching!"%}</p>
                <div class="flex justify-center items-center flex-col">
                    <p class="text-2xl text-center">{%trans "If chosen video isn't playable, you may watch the video on YouTube"%}</p>
                    <a href="{{ video.link }}"><button class="mt-4 text-xl cursor-pointer font-semibold bg-primary p-5
                    rounded-md self-center duration-200 hover:bg-primary-l active:bg-primary-l/70 text-white">{%trans "Continue Watching"%}</button></a>
                </div>
            </div>
        </div>
        <iframe src="{{ video.link }}" class="select-none relative w-[80vw] h-[40vw]" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section class="flex flex-col justify-center items-center px-50 bg-primary-l/20" id="feedback-submission">
        <p class="text-4xl font-bold my-8" id="opinion-text">{% trans "Leave your opinion, We appreciate it"%}</p>
        <form action=POST enctype="multipart/form-data" class="border-[8px] duration-400 border-primary/50 hover:border-primary bg-white p-5 h-[600px] w-[35vw] flex justify-around flex-col rounded-md">
            {% csrf_token %}
            <div class="" id="form-point">
                <label for="id_user_name">{%trans "Full Name"%}</label>
                <input type="text" name="user_name" id="id_user_name" placeholder="Enter your full name" required/>
            </div>
            <div class="" id="form-point">
                <label for="id_user_info">{%trans "Your Opinion"%}</label>
                <textarea name="user_info" id="id_user_info" placeholder="Please, leave your opinion" required></textarea>
            </div>
            <div class="" id="form-point-ex">
                <label for="id_image">{%trans "Choose Image"%}</label>
                <input type="file" name="image" id="id_image" required/>
            </div>
            <div class="" id="form-point">
                <label for="id_stars">{%trans "Rate us out of 5 stars"%}</label>
                <input type="number" name="stars" id="id_stars" value="5" min="1" max="5" required/>
            </div>

            <button type="submit" class="self-center duration-400 bg-primary/50 hover:bg-primary active:bg-amber-500/40 text-white cursor-pointer rounded-lg text-xl h-[50px] w-[200px] text-center">{%trans "Submit Feedback"%}</button>
        </form>
    </section>
{% endblock content %}
