{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
    <section class="pt-10 flex flex-col justify-between items-center gap-5 px-50">
        <div class="flex flex-col justify-between items-center gap-1">
            <p class="text-2xl font-bold">{% trans "In case the video player is not working, you can still watch it on YouTube"%}</p>
            <p class="text-xl">{% trans 'Press the button below to get to YouTube'%}</p>
        </div>
        <a href="{{ product.link }}">
            <button class="p-5 cursor-pointer font-bold rounded-md bg-primary/30 hover:bg-primary/50 active:bg-primary-l active:text-white">{% trans "Go to YouTube"%}</button>
        </a>
        <img src="{% static 'images/enjoy.png' %}">
    </section>
{% endblock content %}